<h1>物件管理システムについて</h1>

<h2>目的</h2>
<p>・簡単に物件登録、管理ができるように</p>
<p>・物件を探している人に物件提案が簡単に、効率的に出来る</p>
<p>・セキュリティ面をしっかりする<p>

<h2>実装機能</h2>

<h3>物件管理者サイド</h3>
<h4>メリット</h4>
<p>・確実に物件の管理が可能（誤ってデータ消去をする心配なし）</p>
<p>・管理者だけが物件の管理が可能</p>

<h4>デメリット</h4>

<h3>物件を探している側</h3>
<h4>メリット</h4>
<h4>デメリット</h4>

<h2>【使用技術】</h2>

<p>開発言語：Ruby</p>
<p>サーバーサイドフレームワーク：Ruby on Rails</p>
<p>フロントエンド：Vue.js</P>
<p>インフラ：AWS(ECS、Aurora、CloudWatch、S3)</p>
<p>データベース・データストア：MySQL、Redis、Elasticsearch、BigQuery</p>
<p>テスティングフレームワーク：Rspec</p>
<p>CI/CD：CircleCI</p>
<p>タスク管理：Backlog、Waffle.io</p>
<p>社内コミュニケーション：Slack、Trello</p>
<p>Docker</p>